// Core
@import "core/_variables";

// Components
@import "components/_main.scss";
@import "components/_header";
@import "components/_home";
@import "components/_about";
@import "components/_project";
