.andlev {
	&__about {
		display: block;
		width: calc(100vw - 60px);
		margin: 0 30px;

		h1,
		h3 {
			display: block;
			margin: 0;
			padding: 0;
			font-family: 'Playfair Display', serif;
			font-weight: 400;
			line-height: 50px;
		}
		
		h1 {
	    font-size: 40px;
	    color: $color-dark;
		}

		h3 {
		  font-style: italic;
		  font-size: 20px;
		  color: $color-grey1;
		}	

		@media (min-width: $breakpoint-mobile) {
			width: calc(100vw - 80px);
			max-width: 690px;
			margin: 0 auto;
		}
		
		@media (min-width: $breakpoint-tablet) {
			width: calc(100vw - 120px);
			max-width: 1320px;
			margin: 0 auto;

			h1 {
				font-size: 50px;
			}

			h3 {
				margin-top: 10px;
				font-size: 25px;
			}
		}
	}

	&__profile {
		display: block;
		margin: 50px 0 0;

		@media (min-width: $breakpoint-mobile) {
			margin-left: 56px;
		}

		&-section {
			display: block;
			margin-bottom: 50px; 

			h2 {
				position: relative;
				display: inline-block;
				margin: 0 0 45px;
				padding: 0 0 15px;
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				line-height: 25px;
				color: $color-dark;

				&::after {
					position: absolute;
					bottom: 0;
					display: block;
					height: 1px; 
					width: 30px;
					background: $color-dark;
					content: '';
				}
			}

			p {
				display: block;
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				line-height: 20px;
				color: $color-grey1;
			}

			ul {
				li {
					display: block;
					margin-bottom: 30px;
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
					line-height: 20px;
					color: $color-grey1;

					span {
						display: block;
						color: $color-dark;
					}
				}
			}

			&-edulist {
				&-ditem {
					display: none;
					margin: 80px 0 0;
					font-family: 'Open Sans', sans-serif;
					font-size: 12px;
					font-style: italic;
					color: $color-dark;

					a {
						color: $color-grey2;
						text-decoration: none;
					}

				}
			}

			@media (min-width: $breakpoint-mobile) {
				display: flex;
				margin-bottom: 70px;

				h2 {
					height: 45px;
					margin-right: 100px;
				}

				p {
					max-width: 340px;
				}

				ul li {
					margin-bottom: 50px;
				}

				&-xplist {
					margin-left: -35px;
				}

				&-edulist {
					margin-left: -26px;

					&-ditem {
						display: block;
					}
				}
			}

			@media (min-width: $breakpoint-tablet) {
				h2 {
					margin-right: 164px;
					font-size: 22px;

					&::after {
						width: 60px;
					}
				}

				p {
					width: 45vw;
					max-width: 650px;
					font-size: 15px;
				}

				ul li {
					font-size: 15px;
				}

				&-xplist {
					margin-left: -47px;
				}

				&-edulist {
					margin-left: -35px;
				}
			}
		}
	}
}

.andlev__footer {
	display: block;
	width: 100%;
	margin-bottom: 30px;

	&-social {
		ul {
			display: flex;
		}

		li {
			margin-right: 18px;

			&:last-of-type {
				margin: 0;
			}
		}

		&-icon {
			display: block;
			width: 16px;
			height: 15px;
		}
	}


}
