.andlev {
	&__about {
		.andlev__gridspacer {
			@media (max-width: $breakpoint-mobile) {
				margin-top: 88px;
			}
		}
	}

	&__profile {
		display: block;
		margin: 83px 0 0;

		@media (min-width: $breakpoint-mobile) {
			margin: 76px 0 0 56px;
		}

		@media (min-width: $breakpoint-tablet) {
			margin: 134px 0 0 109px;
		}

		&-section {
			display: block;
			margin-bottom: 52px; 

			&--nomargin {
				margin-bottom: 0;
			}

			h2 {
				position: relative;
				display: inline-block;
				margin: 0 0 25px;
				padding: 0 0 15px;
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				line-height: 25px;
				color: $color-dark;

				&::after {
					position: absolute;
					bottom: 0;
					display: block;
					height: 2px; 
					width: 30px;
					background: $color-dark;
					content: '';
				}
			}

			p {
				display: block;
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				line-height: 20px;
				color: $color-grey1;
			}

			ul {
				display: block;

				li {
					display: block;
					margin-bottom: 25px;
					padding-bottom: 15px;
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
					line-height: 20px;
					color: $color-grey1;
					border-bottom: 1px solid rgba(0,0,0,0.1);

					span {
						display: block;
						color: $color-dark;
					}
				}
			}

			&-edulist {
				&-ditem {
					display: none;
					margin: 52px 0 0 0 !important;
					padding: 0 !important;
					font-family: 'Open Sans', sans-serif;
					font-size: 12px;
					font-style: italic;
					color: $color-dark;
					border-bottom: 0 !important;

					a {
						color: $color-grey2;
						text-decoration: none;
					}

				}
			}

			@media (min-width: $breakpoint-mobile) {
				display: flex;
				margin-bottom: 70px;

				h2 {
					font-size: 14px;
					height: 45px;
					margin-right: 100px;
				}

				p {
					font-size: 12px;
					max-width: 340px;
				}

				ul {
					max-width: 340px;

					li {
						margin-bottom: 35px;
						padding-bottom: 15px;
					}
				}

				&-xplist {
					margin-left: -35px;

					li:last-of-type {
						margin-bottom: 0;
					}
				}

				&-edulist {
					margin-left: -26px;

					&-ditem {
						display: block;
						margin: 76px 0 0 0 !important;
					}
				}
			}

			@media (min-width: $breakpoint-tablet) {
				margin-bottom: 132px;

				h2 {
					margin-right: 164px;
					font-size: 22px;

					&::after {
						width: 60px;
					}
				}

				p {
					width: 45vw;
					max-width: 650px;
					font-size: 15px;
				}

				ul {
					width: 45vw;
					max-width: 650px;

					li {
						font-size: 15px;
					}
				}

				&-xplist {
					margin-left: -47px;
				}

				&-edulist {
					margin-left: -35px;

					&-ditem {
						display: block;
						margin: 134px 0 0!important;
					}
				}
			}
		}
	}
}

