.andlev {
  &__project {
    display: block;
    margin-bottom: 86px;

    @media (max-width: $breakpoint-mobile) {
      .about-on {
        display: none;
      }
    }

    @media (min-width: $breakpoint-mobile) {
      margin-bottom: 68px;
    }

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 130px;
    } 

    &--marginbottom60 {
      @media (min-width: $breakpoint-tablet) {
      margin-bottom: 55px; /* line-height */
      }  
    }

    &-4grid-container {
      display: flex; 
      flex-wrap: wrap;
      padding-top: 60px;

      @media (min-width: $breakpoint-mobile) {
        padding-top: 60px;
      }

      @media (min-width: $breakpoint-tablet) {
        padding-top: 110px;
      }

      picture {
        width: 50%;
      }
    }

    &--greybg {
      width: 100%;
      margin: -24px 0 30px 0;
      margin-top: -44px;/*
      margin-bottom: 60px;*/
      padding: 84px 30px 30px;
      background: $color-grey3;

      picture:last-of-type {
        margin-bottom: 0;
      }

      @media (min-width: $breakpoint-mobile) {
        width: calc(100% - 80px);
        margin: -40px 40px 40px;
        padding: 120px 0 40px;
      }

      @media (min-width: $breakpoint-tablet) {
        width: calc(100% - 120px);
        margin: -110px auto 60px;
        padding: 214px 0 110px;
      }
    }

    &--spacer {
      margin-top: 30px;
      margin-bottom: 60px;

      @media (min-width: $breakpoint-mobile) {
        margin-top: 30px;
        margin-bottom: 60px;
      }

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 60px;
        margin-bottom: 120px;
      }
    }

    &-video {
      display: none;
      position: absolute;
      top: 7%;
      left: -2.3%;
      width: 110%;
      height: 82%;

      &--front {
        width: 110%;
        height: 80%;
        top: 51px;
        left: -76px;
      }

      &--casestudy {
        display: block !important;
        position: relative;
        width: calc(100% - 60px);
        height: auto;
        margin: 0 auto;

        @media (min-width: $breakpoint-mobile) {
          width: calc(100% - 80px);
        }

        @media (min-width: $breakpoint-tablet) {
          width: calc(100% - 120px);
        }


      }

      @media (min-width: $breakpoint-tablet) {
        display: block;
      }
    }

    h4 {
      display: block;
      margin-bottom: 10px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px; 
    }

    p {
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 18px;
      color: $color-grey1;

      + p {
        margin-top: 14px;
      }

      @media (min-width: $breakpoint-mobile) {
        font-size: 12px;
        line-height: 20px;
      }

      @media (min-width: $breakpoint-tablet) {
        font-size: 15px;
      }
    }

    picture {
      display: block;
      margin-bottom: 55px;

      &.andlev__hero--middlealigned {
        display: block;
        margin: 0 170px;
      }

      + picture {
        margin-top: 10px;

        @media (min-width: $breakpoint-mobile) {
          margin-top: 10px;
        }

        @media (min-width: $breakpoint-tablet) {
          margin-top: 20px;
        }
      }
    }

    &--m {
      @media (max-width: $breakpoint-mobile) {
        margin-bottom: 25px;

        picture {
          margin-bottom: 0;
        }
      } 
    }

    @media (min-width: $breakpoint-mobile) {
      &-top {
        width: calc(100% - 80px);
        margin: 0 40px 70px;
      }
    }
    
    @media (min-width: $breakpoint-tablet) {
      &-top {
        width: calc(100% - 120px);
        margin: 0 auto 70px;
      }

      p {
        font-size: 15px;
      }
    }

    &-heroimg {
      display: block;
      margin-bottom: 88px;

      &.parallax-frame {
          width: 100%;
          height: 275px;
          overflow: hidden;
          background: transparent;

          @media (min-width: $breakpoint-mobile) {
            height: 480px;
          }

          @media (min-width: $breakpoint-tablet) {
            min-height: 900px;
          }
      }

      .parallax {
        display: block;
        width: 100%;
        height: 275px;
        /*background-attachment: fixed; 
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 500;*/
        background-size: cover;
        background-position: center;
        width: inherit;
        height: inherit;
        /*display: table;*/
        will-change: transform;
        transition: transform 0.05s ease;

        @media (min-width: $breakpoint-mobile) {
          height: 480px;
        }

        @media (min-width: $breakpoint-tablet) {
          height: 1100px;
        }
      }

      img {
        object-fit: cover;
      }

      &--t,
      &--d {
        display: none;
      }

      @media (min-width: $breakpoint-mobile) {
        margin-bottom: 80px;

        &--m {
          display: none;
        }

        &--t {
          display: block;
        }
      }

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 130px;

        &--m,
        &--t {
          display: none;
        }

        &--d {
          display: block;
        }
      }      
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      h2 {
        position: relative;
        display: block;
        margin: 0 0 16px;
        padding: 0 0 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50px;
          height: 2px;
          background-color: #000000;
          content: '';
        }
      }

      span {
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-style: italic;
        color: $color-grey2;
      }

      @media (min-width: $breakpoint-tablet) {
        h2 {
          font-size: 22px;
          padding-bottom: 34px;
        }

        span {
          font-size: 15px;
        }
      }
    }

    &-innercontent {
      padding: 0;

      @media (min-width: $breakpoint-mobile) {
        padding: 0 7.5vw;
      }

      @media (min-width: $breakpoint-tablet) {
        padding: 0 110px;
      }

      &--nomargin {
        margin-bottom: 0 !important;
      }

      &--margintop60 {
        margin-top: 30px !important;

        @media (min-width: $breakpoint-mobile) {
          margin-top: 30px !important;
        }

        @media (min-width: $breakpoint-tablet) {
          margin-top: 60px !important;
        }
      }
    }

    &-featured {
      /*h4 {
        margin: 0;
      }

      @media (min-width: $breakpoint-mobile) {
        h4 {
          margin-right: 30px !important;
        }
      }

      @media (min-width: $breakpoint-tablet) {
        h4 {
          margin-right: 52px !important;
        }
      }*/
    }

    &-intro {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: 90px;

      h2 {
        width: 50%;
        order: 1;
      }

      span {
        width: 50%;
        order: 1;
        text-align: right;
        line-height: 17px;
      }

      div {
        flex-basis: 100%;
        order: 2;
        width: 100%;
      }

      @media (min-width: $breakpoint-mobile) {
        flex-flow: row nowrap;
        width: 100%;
        margin-bottom: 80px;

        h2 {
          width: 45%;
          order: 1;
        }

        span {
          width: 30%;
          order: 3;
        }

        div {
          width: 70%;
          order: 2;
        }
      }

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 130px;
      }
    }

    &-textblock {
      display: block;

      + picture {
        display: block;
        margin-top: 60px;
      }

      @media (min-width: $breakpoint-mobile) {
        display: flex;

        h4 {
          width: 26%;
          margin-right: 0;
          font-size: 12px;
        }

        p {
          width: 330px;
        }

        + picture {
          margin-top: 60px;
        }
      }

      @media (min-width: $breakpoint-tablet) {
        display: flex;

        h4 {
          width: 26%;
          margin-right: 0;
          font-size: 15px;
        }

        p {
          width: 520px;
        }

        + picture {
          margin-top: 110px;
        }
      }
    }
  }
}

.andlev__hero--middlealigned {
  img {
    display: block;
    width: calc(100% - 340px);
    margin: 0 170px;

    @media (min-width: $breakpoint-mobile) {
      margin: 0 170px;
    }

    @media (min-width: $breakpoint-tablet) {
      margin: 0 170px;
    }
  }
}